.title {
  justify-content: center;
  align-items: center;
  display: flex;
  color: brown;
  font-style: italic;
}

.blogGrid {
  display: grid;
  grid-template-areas:
    'blogImage '
    'contentText'
    'contentText';
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
  margin: 50px;
  gap: 1rem;
  padding: 10px;
}

.blogImage {
  width: 800px;
  height: 500px;
  margin-bottom: 20px;
  align-items: center;
}

.contentText {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 30px;
}
@media (max-width: 320px){
  .blogGrid {
    grid-template-rows: 50px;
  }
  .blogImage{
    width: 70%;
    align-items: center;

  }
}
@media (min-width: 600px) and (max-width:900px) {
  .blogGrid {
    grid-template-rows: 50px, 50px, 50px;
    gap: 10px;
    padding: 10px;
    margin: 50px;
    padding: 150px;
  }
}

@media (min-width: 901px) {
  .blogGrid {
    grid-template-rows: 50px, 50px, 50;
    gap: 10px;
    padding: 10px;
    margin: 50px;
    padding: 150px;
  }
}